<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
	<test verbose="2" preserve-order="true"
		name="C:/Users/swati/NTSStuff/GitRepoStuff/AppiumDemo_POC">
		<classes>
            <!--<class name="tests.calculatortest">
                <methods>
                <include name="openCalculator" />
                </methods>
            </class> -->
            <class name="tests.testPage">
                <methods>
                    <include name="testOne" />
                    <include name="testTwo" />
                </methods>
            </class>
        </classes>
    </test>
</suite>